# Core
numpy
pandas

# Visualization
matplotlib
seaborn

# Data handling
openpyxl


# Machine Learning
scikit-learn
scipy
statsmodels
prophet
xgboost


# Jupyter & Development
jupyter
notebook
ipython


